PROJECT_NAME=aionsoft
CRM_APP_PORT=4100
PB_PORT=8090
PB_URL=http://127.0.0.1:8090
PB_ADMIN_EMAIL=admin@aionsoft.local
PB_ADMIN_PASSWORD=admin123456
CRM_DEFAULT_ADMIN_EMAIL=admin@aionsoft.local
CRM_DEFAULT_ADMIN_PASSWORD=admin123456
CRM_DEFAULT_ADMIN_NAME=Aionsoft Admin
