# Enable Swetrix by setting a project id.
PUBLIC_SWETRIX_PROJECT_ID=

# Optional overrides. Defaults are shown for reference.
PUBLIC_SWETRIX_SCRIPT_URL=https://swetrix.org/swetrix.js
PUBLIC_SWETRIX_API_URL=https://analytics.aionsoft.io/backend/v1/log
PUBLIC_SWETRIX_NOSCRIPT_URL=https://analytics.aionsoft.io/backend/log/noscript
